* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fe9907;
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 500;
    text-align: center;
    margin: 32px 16px;
}

.loaders-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-gap: 24px;
}

.loader {
    justify-self: center;
    align-self: center;
}

/* Group code starts here */

.loader-1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.loading-ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    animation: jump 900ms infinite;
}
@keyframes jump {
    0% {
        width: 10px;
        height: 8px;
        border-radius: 50%;
        transform: translateY(8px);
    }
    50% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translateY(-15px);
    }
    80% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translateY(5px);
    }
    100% {
        width: 20px;
        height: 4px;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        transform: translateY(10px);
    }    
}
.loading-text {
    font-size: 15px;
}

.loader-2 {
    /* Your code goes here */
    /* Remove this example */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-left: 3px solid rgba(255, 255, 255, 1);
    animation: loader 1s cubic-bezier(.41, .25, .32, .83) infinite;
}

.loader-3 {
    filter: blur(1.1px);
}
.loader-3-item-1 {
    position: absolute;
    background: white;
    border-radius: 100%;
    opacity: 0;
    width: 40px;
    height: 40px;
    animation: circle-scale-1 2s infinite;
    animation-timing-function: ease-in-out;
}

.loader-3-item-2 {
    background: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    opacity: 0;
    animation: circle-scale-2 2s infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}
.loader-4 {
    width: 74px;
    height: 50px;
    position: relative;
}

.line {
    background-color: #fff;
    width: 10px;
    position: absolute;
    bottom: 0;
    box-shadow: 1px 1px 3px 0px rgba(88, 88, 88, 0.75);
}

.loader-4::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    animation: dot-loader 4s linear infinite;
}

.line-1 {
    left: 0;
    animation: bar-loader1 4s linear infinite;
}

.line-2 {
    left: 16px;
    animation: bar-loader2 4s linear infinite;
}

.line-3 {
    left: 32px;
    height: 60%;
}

.line-4 {
    left: 48px;
    animation: bar-loader3 4s linear infinite;

}

.line-5 {
    left: 64px;
    animation: bar-loader4 4s linear infinite;
    box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.75);
}

@keyframes bar-loader1 {
    0% {
        height: 20%;
    }

    45% {
        height: 20%;
    }

    50% {
        height: 100%;
    }

    95% {
        height: 100%;
    }

    100% {
        height: 20%;
    }
}

@keyframes bar-loader2 {
    0% {
        height: 40%;
    }

    45% {
        height: 40%;
    }

    50% {
        height: 80%;
    }

    95% {
        height: 80%;
    }

    100% {
        height: 40%;
    }
}

@keyframes bar-loader3 {
    0% {
        height: 80%;
    }

    45% {
        height: 80%;
    }

    50% {
        height: 40%;
    }

    95% {
        height: 40%;
    }

    100% {
        height: 80%;
    }
}

@keyframes bar-loader4 {
    0% {
        height: 100%;
    }

    45% {
        height: 100%;
    }

    50% {
        height: 20%;
    }

    95% {
        height: 20%;
    }

    100% {
        height: 100%;
    }
}


@keyframes dot-loader {
    0% {
        left: 0;
        bottom: 10px;
    }

    10% {
        left: 0;
        bottom: 10px;
    }

    15% {
        bottom: 25px;
    }

    20% {
        left: 16px;
        bottom: 20px;
    }

    25% {
        bottom: 35px;
    }

    30% {
        left: 32px;
        bottom: 30px;
    }

    35% {
        bottom: 45px;
    }

    40% {
        left: 48px;
        bottom: 40px;
    }

    42% {
        bottom: 55px;
    }

    45% {
        left: 64px;
        bottom: 50px;
    }

    50% {
        bottom: 10px;
    }

    60% {
        left: 64px;
        bottom: 10px;
    }

    65% {
        bottom: 25px;
    }

    70% {
        left: 48px;
        bottom: 20px;
    }

    75% {
        bottom: 35px;
    }

    80% {
        left: 32px;
        bottom: 30px;
    }

    85% {
        bottom: 45px;
    }

    90% {
        left: 16px;
        bottom: 40px;
    }

    92% {
        bottom: 55px;
    }

    95% {
        left: 0;
        bottom: 50px;
    }

    100% {
        bottom: 10px;
    }
}

.loader-5 {
    display: flex;
    align-items: flex-end;
    width: 65px;
    height: 50px;
    position: relative;
}
.loader-5>div {
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.loader-5-item-1{
    left: 10px;
    animation: runningDots1 .8s infinite;
}
.loader-5-item-2{
    left: 10px;
    animation: runningDots2 .8s infinite;
}
.loader-5-item-3{
    left: 30px;
    animation: runningDots2 .8s infinite;
}
.loader-5-item-4{
    left: 50px;
    animation: runningDots3 .8s infinite;
}


.loader-6 {
    /* Your code goes here */
    /* Remove this example */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-left: 3px solid rgba(255, 255, 255, 1);
    animation: loader 1s cubic-bezier(.41, .25, .32, .83) infinite;
}

/* Additional keyframes code*/
@keyframes loader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes circle-scale-1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes circle-scale-2 {
    0% {
        transform: scale(0);
        opacity: 0.8;
    }
    50% {
        transform: scale(1);
        opacity: 0.75;
    }
    100% {
        transform: scale(0);
        opacity: 0.5;
  }
}

@keyframes runningDots1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes runningDots2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
@keyframes runningDots3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
