* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #fe9907;
  color: white;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 500;
  text-align: center;
  margin: 32px 16px;
}

.loaders-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  grid-gap: 24px;
}

.loader {
  justify-self: center;
  align-self: center;
}

.loader-1 {
  display: grid;
  grid-template-columns: 20px auto;
  justify-items: center;
}

.loading-ball {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FFFFFF;
  animation: jump 900ms ease-in-out infinite;
}

.loading-text {
  font-size: 15px;
}

.loader-2 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
}

.loader-2 div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: scalecircle 1.2s linear infinite;
}

.loader-2 div::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 1px;
  opacity: 0.6;
  animation: scalesquare 1.2s linear infinite;
}

.loader-2 div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}

.loader-2 div:nth-child(1)::before {
  animation-delay: 0s;
}

.loader-2 div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}

.loader-2 div:nth-child(2)::before {
  animation-delay: -0.1s;
}

.loader-2 div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}

.loader-2 div:nth-child(3)::before {
  animation-delay: -0.2s;
}

.loader-2 div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}

.loader-2 div:nth-child(4)::before {
  animation-delay: -0.3s;
}

.loader-2 div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}

.loader-2 div:nth-child(5)::before {
  animation-delay: -0.4s;
}

.loader-2 div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}

.loader-2 div:nth-child(6)::before {
  animation-delay: -0.5s;
}

.loader-2 div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}

.loader-2 div:nth-child(7)::before {
  animation-delay: -0.6s;
}

.loader-2 div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}

.loader-2 div:nth-child(8)::before {
  animation-delay: -0.7s;
}

.loader-2 div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}

.loader-2 div:nth-child(9)::before {
  animation-delay: -0.8s;
}

.loader-2 div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}

.loader-2 div:nth-child(10)::before {
  animation-delay: -0.9s;
}

.loader-2 div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}

.loader-2 div:nth-child(11)::before {
  animation-delay: -1s;
}

.loader-2 div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}

.loader-2 div:nth-child(12)::before {
  animation-delay: -1.1s;
}

.loader-3 {
  filter: blur(1px);
}

.loader-3-item-1 {
  position: absolute;
  background: white;
  border-radius: 100%;
  opacity: 0.65;
  width: 40px;
  height: 40px;
  animation: circle-scale-1 2s infinite;
  animation-timing-function: ease-in-out;
}

.loader-3-item-2 {
  background: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  opacity: 0.65;
  animation: circle-scale-2 2s infinite;
  animation-delay: -1s;
  animation-timing-function: ease-in-out;
}

.loader-4 {
  width: 74px;
  height: 50px;
  position: relative;
}

.line {
  background-color: #fff;
  width: 10px;
  position: absolute;
  bottom: 0;
  box-shadow: 1px 1px 3px 0px rgba(88, 88, 88, 0.75);
}

.loader-4::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
  animation: dot-loader 4s linear infinite;
}

.line-1 {
  left: 0;
  animation: bar-loader1 4s linear infinite;
}

.line-2 {
  left: 16px;
  animation: bar-loader2 4s linear infinite;
}

.line-3 {
  left: 32px;
  height: 60%;
}

.line-4 {
  left: 48px;
  animation: bar-loader3 4s linear infinite;

}

.line-5 {
  left: 64px;
  animation: bar-loader4 4s linear infinite;
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.75);
}

.loader-5 {
  display: flex;
  align-items: flex-end;
  width: 65px;
  height: 50px;
  position: relative;
}

.loader-5 > div {
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.loader-5-item-1 {
  left: 10px;
  animation: runningDots1 .8s infinite;
}

.loader-5-item-2 {
  left: 10px;
  animation: runningDots2 .8s infinite;
}

.loader-5-item-3 {
  left: 30px;
  animation: runningDots2 .8s infinite;
}

.loader-5-item-4 {
  left: 50px;
  animation: runningDots3 .8s infinite;
}

.loader-6 {
  position: relative;
  text-align: center;
  margin: 100px auto;
  width: 40px;
  height: 40px;
  animation: dot-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 60%;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  animation: dot-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes jump {
  0% {
    width: 20px;
    height: 4px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    transform: translateY(10px);
  }
  20% {
    width: 12px;
    height: 8px;
    border-radius: 50%;
  }
  50% {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translateY(-15px);
  }
  75% {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    width: 20px;
    height: 4px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    transform: translateY(10px);
  }
}

@keyframes scalecircle {
  0%, 20%, 80%, 100% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes scalesquare {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes circle-scale-1 {
  0% {
    transform: scale(0);
    opacity: 0.65;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0.65;
  }
}

@keyframes circle-scale-2 {
  0% {
    transform: scale(0);
    opacity: 0.65;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0.65;
  }
}

@keyframes dot-loader {
  0% {
    left: 0;
    bottom: 10px;
  }

  10% {
    left: 0;
    bottom: 10px;
  }

  15% {
    bottom: 25px;
  }

  20% {
    left: 16px;
    bottom: 20px;
  }

  25% {
    bottom: 35px;
  }

  30% {
    left: 32px;
    bottom: 30px;
  }

  35% {
    bottom: 45px;
  }

  40% {
    left: 48px;
    bottom: 40px;
  }

  42% {
    bottom: 55px;
  }

  45% {
    left: 64px;
    bottom: 50px;
  }

  50% {
    bottom: 10px;
  }

  60% {
    left: 64px;
    bottom: 10px;
  }

  65% {
    bottom: 25px;
  }

  70% {
    left: 48px;
    bottom: 20px;
  }

  75% {
    bottom: 35px;
  }

  80% {
    left: 32px;
    bottom: 30px;
  }

  85% {
    bottom: 45px;
  }

  90% {
    left: 16px;
    bottom: 40px;
  }

  92% {
    bottom: 55px;
  }

  95% {
    left: 0;
    bottom: 50px;
  }

  100% {
    bottom: 10px;
  }
}

@keyframes bar-loader1 {
  0% {
    height: 20%;
  }

  45% {
    height: 20%;
  }

  50% {
    height: 100%;
  }

  95% {
    height: 100%;
  }

  100% {
    height: 20%;
  }
}

@keyframes bar-loader2 {
  0% {
    height: 40%;
  }

  45% {
    height: 40%;
  }

  50% {
    height: 80%;
  }

  95% {
    height: 80%;
  }

  100% {
    height: 40%;
  }
}

@keyframes bar-loader3 {
  0% {
    height: 80%;
  }

  45% {
    height: 80%;
  }

  50% {
    height: 40%;
  }

  95% {
    height: 40%;
  }

  100% {
    height: 80%;
  }
}

@keyframes bar-loader4 {
  0% {
    height: 100%;
  }

  45% {
    height: 100%;
  }

  50% {
    height: 20%;
  }

  95% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}

@keyframes runningDots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes runningDots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@keyframes runningDots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes dot-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dot-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
